/* CSS reset from http://meyerweb.com/eric/tools/css/reset/  */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.bigButton {
  color: #fff;
  text-align: center;
  border: 6px solid #fff;
  border-radius: 15px;
  padding: 20px;
  font-size: 35px;
  width: 200px;
  display: inline-block;
  font-weight: 700;
}

.bigButton:hover, .bigButton.selected {
  background: #fff;
  color: #E47C5D;
  cursor: pointer;
}

.orangeButton {
  color: #E47C5D;
  border-color: #E47C5D;
}

.orangeButton:hover, .orangeButton.selected {
  background: #E47C5D;
  color: #fff;
}

.greenButton {
  color: #59B390;
  border-color: #59B390;
}

.greenButton:hover, .greenButton.selected {
  background: #59B390;
  color: #fff;
}

header {
  background: url(/img/background.jpg);
  background-size: cover;
  height: 500px;
  position: relative;
}

header .logo {
  background: url(/img/citygram.png);
  background-size: 320px 80px;
  position: absolute;
  left: 100px;
  top: 40px;
  height: 80px;
  width: 320px;
}

header h1 {
  font-size: 80px;
  position: absolute;
  left: 100px;
  top: 200px;
  text-shadow: 0 2px 15px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-weight: 700;
}

header p {
  font-size: 21px;
  line-height: 29px;
  position: absolute;
  left: 100px;
  top: 380px;
  text-shadow: 0 2px 15px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-weight: 200;
  max-width: 360px;
}

header .startButton {
  position: absolute;
  right: 100px;
  top: 360px;
  width: 160px;
}

section {
  padding: 30px 100px;
  border-bottom: 1px solid #E7E8EA;
}

section .instruction {
  border-bottom: 1px solid #D1D5D8;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

section h2 {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  display: inline-block;
}

section h3 {
  color: #8A949D;
  font-size: 28px;
  font-weight: 200;
  display: inline-block;
  position: relative;
  top: -3px;
  left: 6px;
}

#map {
  height: 500px;
  width: 100%; 
  border: 1px dashed #D1D5D8;
}

.mapButton {
  min-width: 80%;
  margin: 0 auto;
  display: block;
  margin-top: 40px;
}

.contactButtons {
  text-align: center;
}

.smsButton, .emailButton {
  min-width: 40%;
}

footer {
  height: 500px;
  background: #E47C5D;
}
