footer {
  background-color: #182a4a;
  color: white;

  p {
    font-style: italic;
    font-size: 1.5em;
    line-height: 1em;
    padding-top: 1.6em;
    font-weight: 200;
    white-space: nowrap;
    margin: 0;
  }

  a {
    display: inline-block;
  }
}
div.award {
  background-color: white;
  img{
    width: 100%;
  }
}
