<div class="container">
  <img src="<%= asset_path 'citygram-logo-color.png' %>" width="150" class="logo">
  <h1>Latest <span class="topic">Building Permits</span> for <span class="phone">9082401489</span></h1>

  <div class="subscription-box">
    <div class="row">
      <div class="col-sm-1">
        <img src="<%= asset_path 'building-permits.png' %>" class="icon">
      </div>
      <div class="col-sm-11">
        <h5>YOUR SUBSCRIPTION FOR THE LAST WEEK:</h5>
        <h3>There were <span class="orange">7 citygrams</span> for <span class="navy">Building Permits</span> within <span class="green">2 miles</span> of <span class="red">125 9th Street, Seattle.</span></h3>
      </div>
    </div>
  </div>

  <%= erb '_digest_events'.to_sym %>
</div>
