<header>
  <div class="logo"></div>
  <h1>Subscribe to your city.</h1>
  <p>Get updates on the topics and areas you care about.<p>
  <div class="bigButton startButton">start</div>
</header>

<!-- Choose topics -->
<section id="step1">
  <div class="instruction">
    <h2>I want updates about:</h2>
    <h3>(step 1 of 3)</h3>
  </div>

  <!--   <% @publishers.each do |publisher| %>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <a href="#location" data-publisher-id="<%= publisher.id %>" class="topic-selection">
        <div class="panel panel-topic <% if publisher.active == true then %>panel-simple<% else %>panel-soon<% end %>">
          <div class="panel-heading"><%= publisher.category %></div>
          <div class="panel-body">
            <div class="publisher-title"><%= publisher.title %></div>
            <% if publisher.active != true then %><img class="feed-coming-soon" src="images/icons/coming-soon.png"><% end %>
            <img src="images/icons/<%= publisher.icon %>.png">
          </div>
        </div>
      </a>
    </div>
  <% end %> -->
</section>

<!-- Choose location -->
<section id="step2">
  <div class="instruction">
    <h2>In my area:</h2>
    <h3>(step 2 of 3)</h3>
  </div>

  <div id="map"></div>
  <div class="bigButton orangeButton mapButton">I'm happy with the area above.</div>
</section>

<!-- Choose contact method -->
<section id="step3">
  <div class="instruction">
    <h2>In this way:</h2>
    <h3>(step 3 of 3)</h3>
  </div>

  <div class="contactButtons">
    <div class="bigButton orangeButton smsButton">text</div>
    <div class="bigButton greenButton emailButton">email</div>
  </div>

  <div class="extraInfo" style="display:none">
    <input></input>
    <div class="input"></div>
  <div>
</section>

<!-- Thank you -->
<section></section>

<footer></footer>
