<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Wed Aug 06 2014 21:33:09 GMT+0000 (UTC) -->
<html data-wf-site="53e1c3242e905e4a0425f1d1">
<head>
  <meta charset="utf-8">
  <title>Citygram Research - Seattle</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content="Webflow">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/webflow.css">
  <link rel="stylesheet" type="text/css" href="css/citygram-research-seattle.webflow.css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Abril Fatface:regular","Gentium Basic:regular,italic,700,700italic","Lora:regular,italic,700,700italic","Source Sans Pro:200,300,regular,600,700,900","Coustard:regular,900","Gilda Display:regular","Playfair Display:regular,italic,700,700italic,900,900italic","Rufina:regular,700"]
      }
    });
  </script>
  <script type="text/javascript" src="https://use.typekit.net/hhp6enf.js"></script>
  <script type="text/javascript">
    try{Typekit.load();}catch(e){}
  </script>
  <script type="text/javascript" src="js/modernizr.js"></script>
  <link rel="shortcut icon" type="image/x-icon" href="img/parachute.png">
</head>
<body>
  <div>
    <div class="w-container letter">
      <img class="logo" src="img/cfa-citygram.png" width="400">
      <div class="date">06 AUGUST&nbsp;2014</div>
      <h1>Help us build Citygram: a call for alpha testers in Seattle</h1>
      <p>Are you a Seattleite who is curious about the construction on your street? How about the sirens you keep hearing in your neighborhood? Want to know when there's going to be electrical work in your area? If so, you've come to the right place.
        <br>
        <br>Today, we’re kicking off an alpha test of Citygram, a geographically relevant notifications platform powered by open data. We believe that 1) there’s an opportunity to help citizens better understand what’s going on in their neighborhood, and
        2) open data can be communicated in a relevant, meaningful way to people. These are the two hunches we want to test. With Citygram, you can sign up to be notified about things that matter to you <em>where</em> they matter to you in Seattle.
        <br>
        <br>Sound interesting? We hope so. Here’s how to try it out:</p>
      <ul class="steps">
        <li>
          <p><strong>Go to&nbsp;<a xmlns="http://www.w3.org/1999/xhtml" href="http://seattlegram.herokuapp.com" class="url" target="_blank" data-ix="new-interaction">seattlegram.herokuapp.com</a></strong>
            <a href="http://seattlegram.herokuapp.com" class="url"
            target="_blank" data-ix="new-interaction"></a>. (It works best on Chrome, Firefox, Safari, and Internet Explorer 11 desktop browsers.)&nbsp;</p>
        </li>
        <li>
          <p><strong>Sign up</strong> for some topics. With Citygram, you can be notified about:&nbsp;</p>
          <ul class="topics">
            <li>
              <p class="topics"><a href="https://data.seattle.gov/Public-Safety/Seattle-Real-Time-Fire-911-Calls/kzjm-xkqj" class="url" target="_blank">911 Fire Dispatches</a>:&nbsp;911 calls to Seattle's Fire Department.</p>
            </li>
            <li>
              <p class="topics"><a href="https://data.seattle.gov/Community/Code-Violation-Cases/dk8m-pdjf" class="url" target="_blank">Code Violations</a>: Complaints received by Seattle's Department of Planning and Development that have become cases for further investigation.</p>
            </li>
            <li>
              <p class="topics"><a href="https://data.seattle.gov/Public-Safety/Seattle-Police-Department-911-Incident-Response/3k2p-39jp" class="url" target="_blank">911 Police Incidents</a>: Police responses to 911 calls within the City of Seattle. (To protect the security
                of a scene, the incident is only reported after it's considered safe to close out.)</p>
            </li>
            <li>
              <p class="topics"><a href="https://data.seattle.gov/Permitting/Building-Permits-Current/mags-97de" class="url" target="_blank">Building Permits</a>: For new construction or additions to pre-existing structures.&nbsp;</p>
            </li>
            <li>
              <p class="topics"><a href="https://data.seattle.gov/Permitting/Electrical-Permits-Current/raim-ay5x" class="url" target="_blank">Electrical Permits</a>: For electrical wiring installation in any commercial projects.&nbsp;</p>
            </li>
            <li>
              <p class="topics"><a href="https://data.seattle.gov/Permitting/Land-Use-Permits/uyyd-8gak" class="url" target="_blank">Land Use Permits</a>: For creating or modifying individual parcels of property (does not authorize construction activities).&nbsp;</p>
            </li>
          </ul>
        </li>
        <li>
          <p><strong>You’ll start to receive notifications</strong>&nbsp;when something new happens in your area. To unsubscribe, reply STOP. To resubscribe, reply START and then go back to&nbsp;<a class="url" href="https://seattlegram.herokuapp.com/" target="_blank">seattlegram.herokuapp.com</a>&nbsp;to
            sign up again.&nbsp;(This flow will be improved.)</p>
        </li>
        <li>
          <p><strong>Feel free to respond</strong> to texts or email us at <a href="mailto:citygram@codeforamerica.org" class="email" target="_blank">citygram@codeforamerica.org</a> with questions, comments, and feedback -&nbsp;we're here to learn from you.</p>
        </li>
      </ul>
      <p>
        <br>Some questions you might be thinking!&nbsp;
        <br>
        <br>
        <strong>Why Seattle? And where is this data coming from?
</strong>
        <br>Seattle has a very robust, frequently updated <a href="https://data.seattle.gov/" class="url" target="_blank">open data portal</a>, so that’s where we decided to test first. It was pretty easy for us to grab data feeds and extract/transform/load
        it into the Citygram platform. (If you have a suggestion for another city, let us know!) Also, folks from Seattle are hella nice and the coffee is good.
        <br>
        <br>
        <strong>So…how many notifications am I going to get?
<br xmlns="http://www.w3.org/1999/xhtml"></strong>It depends on the topics you select and how often there are new things to report in your area. We’re working on ways to estimate that and communicate it to you.
        <br>
        <br>
        <strong>Looks like lots of features aren’t ready yet. Why are you sharing your unfinished product?</strong>
        <br>Yup, much of the user interface and main features are still under development. What we’re looking to learn about is the experience of receiving geographically relevant notifications via open data. We believe in failing fast. Do people want this?
        If this isn’t a good idea, we want to know now.
        <br>
        <br>
        <strong>How can I stay updated on new things you’re building?
<br xmlns="http://www.w3.org/1999/xhtml"></strong>Glad you asked! We’re constantly adding and testing new things. Follow our progress on <a href="https://github.com/codeforamerica/citygram" class="url" target="_blank">GitHub</a>, or sign up for
        updates <a href="http://tinyletter.com/citygram" class="url" target="_blank">here</a>.
        <br>
        <br>Thanks so much,&nbsp;
        <br><a href="http://twitter.com/tchu88" class="url" target="_blank">Tiffany</a>,&nbsp;<a href="http://twitter.com/invisiblefunnel" class="url" target="_blank">Danny</a>, <a href="http://twitter.com/ardouglass" class="url" target="_blank">Andrew</a>,
        <a
        href="http://twitter.com/livienyin" class="url" target="_blank">Livien</a>, <a href="http://twitter.com/lyzidiamond" class="url" target="_blank">Lyzi</a>, <a href="https://twitter.com/eeeschwartz" class="url" target="_blank">Erik</a>
          <br>2014 <a href="http://codeforamerica.org" class="url" target="_blank">Code for America</a> Fellows
          <br><a class="email" href="mailto:citygram@codeforamerica.org" target="_blank">citygram@codeforamerica.org</a>
      </p>
    </div>
  </div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script type="text/javascript" src="js/webflow.js"></script>
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>
</html>
