<div class="container">
  <img src="<%= asset_path 'citygram-logo-color.png' %>" width="150" class="logo">
  <h1>Successfully unsubscribed <span class="topic"><%= @subscription.email_address %></span> from <span class="topic"><%= @subscription.publisher.title %></span></h1>
</div>
