<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Citygram</title>

  <!-- typekit -->
  <script src="//use.typekit.net/fgr4sfu.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <!-- the freshest styles -->
  <link rel="stylesheet" type="text/css" href="<%= asset_path 'splash.css' %>">

</head>
<body>
  <%= yield %>
</body>
</html>
